pkgbase = linux-jagex-launcher-bin
	pkgdesc = Authentic, native Jagex Launcher for Linux supporting RuneScape 3 and Old School RuneScape
	pkgver = 1.0.0
	pkgrel = 1
	url = https://cook0001.github.io/Linux-Jagex-Launcher/
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	depends = alsa-lib
	depends = tar
	depends = xz
	optdepends = java-runtime: Java runtime required to play RuneLite and HDOS
	optdepends = gamemode: Feral GameMode support for CPU governor and process scheduling
	optdepends = mangohud: Real-time hardware and FPS overlay
	provides = linux-jagex-launcher
	provides = jagex-launcher
	conflicts = linux-jagex-launcher
	conflicts = jagex-launcher
	source = https://github.com/cook0001/Linux-Jagex-Launcher/releases/download/v1.0.0/jagex-launcher_1.0.0_amd64.deb
	sha256sums = 8e75fc3dbd366cdf7e2818cddb55012dafdc136fa3cdb636f90d3cd55d023e3d

pkgname = linux-jagex-launcher-bin
